<!DOCTYPE html>
<html>
<head>
    <style>
        
        p {
            font-size:25px;
            text-align:center;
            display: block;
            margin-bottom: 0.25em;
            margin-left: 3em;
            margin-right: 3em;
          }
          a{
            font-size:25px;
            margin-bottom:1em;
          }
          
    </style>
</head>
<div style="text-align:center">
    ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​


    <h1>Numpy</h1>
    <p>
        NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.
    </p>
    <a href="https://numpy.org/doc/1.22/user/absolute_beginners.html">Documentation</a>
    
    <h1> Pandas </h1>
    <p>
        Data processing is important part of analyzing the data, because data is not always available in desired format. Various processing are required before analyzing the data such as cleaning, restructuring or merging etc. Numpy, Scipy, Cython and Panda are the tools available in python which can be used fast processing of the data. Further, Pandas are built on the top of Numpy.
        
        Pandas provides rich set of functions to process various types of data. Further, working with Panda is fast, easy and more expressive than other tools. Pandas provides fast data processing as Numpy along with flexible data manipulation techniques as spreadsheets and relational databases. Lastly, pandas integrates well with matplotlib library, which makes it very handy tool for analyzing the data.
        
    </p>
    <a href="https://pandas.pydata.org/docs/index.html">Documentation</a>
    
    
    <h1>   Matplotlib  </h1>
    <p>
        Matplotlib is a low level graph plotting library in python that serves as a visualization utility. Matplotlib was created by John D. Hunter. Matplotlib is open source and we can use it freely. Matplotlib is mostly written in python, a few segments are written in C, Objective-C and Javascript for Platform compatibility.
        
        
    </p>
    <a href="https://matplotlib.org/stable/index.html">Documentation</a>
    
    <h1> Scikit-learn    </h1>
    <p>
        scikit-learn is a Python module for machine learning built on top of SciPy and distributed under the 3-Clause BSD license. The project was started in 2007 by David Cournapeau as a Google Summer of Code project, and since then many volunteers have contributed
    </p>
    <a href="https://scikit-learn.org/stable/tutorial/index.html?msclkid=19134eb9c1a311ec99fd934de852a7bb">Documentation</a>
    
    <h1>  Scipy   </h1>
    <p>
        SciPy in Python SciPy in Python is an open-source library used for solving mathematical, scientific, engineering, and technical problems. It allows users to manipulate the data and visualize the data using a wide range of high-level Python commands. SciPy is built on the Python NumPy extention.
    </p>
    <a href="https://docs.scipy.org/doc//scipy/index.html?msclkid=3da8820ac1a311ec992f80b3ee74c529">Documentation</a>
    
    <h1> Theano    </h1>
    <p>
        Theano is a Python library that allows you to define, optimize, and evaluate mathematical expressions involving multi-dimensional arrays efficiently.Some Theano implementations are as follows. Subtracting two scalars : Python # Python program showing # subtraction of two scalars import theano from theano import tensor # Declaring variables
    </p>
    <a href="https://theano-pymc.readthedocs.io/en/latest/?msclkid=7daab73dc1a311eca511c5af4dfc37e9">Documentation</a>
    
    <h1>  TensorFlow   </h1>
    <p>
        TensorFlow is a free and open-source software library for machine learning and artificial intelligence. It can be used across a range of tasks but has a particular focus on training and inference of deep neural networks.
    </p>
    
    <a href="https://www.tensorflow.org/community/contribute/docs#:~:text=%20Documentation%20on%20tensorflow.org%20falls%20into%20the%20following,community.%20All%20community%20translations%20live%20in...%20More%20?msclkid=a3c04bd8c1a311ec9bfe4bc40b6d8d4f">Documentation</a>
    
</body>
</html>