<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Courses</title>
</head>
<body>
    <h1>Trending Courses </h1>
    <ul> 
    {% for key,value in categories.items %}

        <li>{{key}}</li>
        <ul>
        {% for v in value %}
            {{v}}
            <br>
        {% endfor %}
        </ul>
        <br>
    {% endfor %}
    
    </ul>
</body>
</html>